::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(239, 239, 239);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbf;
}

::-webkit-scrollbar-corner {
  background-color: #bfbfbf;
}

:root {
  --link: #007fff;
  --pink: #ff6699;
  --text2: #61666d;
  --icon: #9499a0;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: #636d7e !important;
}

* {
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  outline: 0;
  vertical-align: middle;
}

.a-link {
  text-decoration: none;
  color: var(--link) !important;
  cursor: pointer;
}

.container-body {
  align-items: center;
}
